.inputEmail {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.inputEmail label {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 6px;
  vertical-align: middle;
}
.inputEmail input {
  color: #2c2c2c;
  padding: 11px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  border: 1px solid #e6e2dc;
  border-radius: 8px;
  background-color: #f8f6f3;
}
.inputEmail input::placeholder {
  color: #9c9895;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}


