.loginContainer {
  background-image: url("src/assets/imgFundo.png");
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-position: center;
  display: flex;
  min-height: 90vh; /* fazer um calculo para subtrair a altura do header e do footer*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e52;
  z-index: 1;
}
.loginContainer h1 {
  margin: 0 0 93px;
  color: #ffffff;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}
.loginBox {
  background-color: #91a394;
  padding: 21px;
  border-radius: 10px;
  max-width: 440px;
  width: calc(100% - 42px);
  height: auto;
  text-align: left;
  border: 1px solid #e6e2dc;
  z-index: 2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.loginBox h2 {
  color: #2c2c2c;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  margin: 0 0 16px;
}

.buttonSubmit {
  cursor: pointer;
  padding: 10px 13px;
  border: 1px solid #e6e2dc;
  border-radius: 8px;
  background-color: #b06b6b;
  color: #e6e2dc;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}
.containerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerLinks a {
  color: #e6e2dc;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  text-decoration: none;
  padding: 0 12px 0 0;
}

@media (max-width: 640px) {
  .loginContainer h1 {
    margin: 0 0 64px;
    font-size: 36px;
  }
  .loginBox {
    margin: 0 16px;
    width: calc(100% - 42px - 32px);
  }

  .buttonSubmit {
    width: 100%;
    margin-bottom: 8px;
  }
  .containerLinks {
    flex-direction: column;
  }
}
