.loginContainer {
  background-image: url("src/assets/imgFundo.png");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* controla a altura sem forçar overflow */
  min-height: calc(100vh - 130px);

  /* adiciona respiro interno */
  padding: 40px 20px;

  /* evita qualquer rolagem fantasma */
  overflow: hidden;
}


/* Overlay escuro sobre a imagem */
.loginContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e1e1e52;
  z-index: 1;
}

.loginContainer h1 {
  margin: 0 0 93px;
  color: #ffffff;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  z-index: 2;
}

/* Caixa do login */
.loginBox {
  background-color: var(--primary-green);
  padding: 21px;
  border-radius: 10px;
  max-width: 440px;
  width: calc(100% - 42px);
  text-align: left;
  border: 1px solid #e6e2dc;
  z-index: 2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.loginBox h2 {
  color: #e6e2dc;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}

/* Botão principal */
.buttonSubmit {
  cursor: pointer;
  padding: 10px 13px;
  border: 1px solid #e6e2dc;
  border-radius: 8px;
  background-color: var(--primary-red);
  color: var(--background-main);
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s ease;
}

.buttonSubmit:hover {
  opacity: 0.9;
}

/* Links abaixo do botão */
.containerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerLinks a {
  color: #e6e2dc;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  padding-right: 12px;
}

.containerLinks a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 640px) {
  .loginContainer h1 {
    margin: 0 0 64px;
    font-size: 36px;
  }

  .loginBox {
    margin: 0 16px;
    width: calc(100% - 42px - 32px);
  }

  .buttonSubmit {
    width: 100%;
    margin-bottom: 8px;
  }

  .containerLinks {
    flex-direction: column;
  }
}

/* Estilo local para aplicar no modo dark */
.darkBox {
  background-color: black; 
  border-color: white;
  color: #fff;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}


.darkBox h2 {
  color: #f5f5f5;
}


.darkBox .buttonSubmit {
  background-color: white;
  border-color: #666;
  color: black;
}

.darkBox .containerLinks a {
  color: white;
}
