.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentArea {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  padding: 24px;
}

.dark {
  background-color: #222;
  color: #f8f6f3;
}
